<% if (success && success.length > 0) { %>
  <div class="flash flash-success"><span>✦ <%= success[0] %></span><button class="flash-close" onclick="this.parentElement.remove()">×</button></div>
<% } %>
<% if (error && error.length > 0) { %>
  <div class="flash flash-error"><span>⚠ <%= error[0] %></span><button class="flash-close" onclick="this.parentElement.remove()">×</button></div>
<% } %>
